@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Sansita');
/************************buttonsAlbumsPage************************/
.buttonsAlbum{
   margin:10px;
}

/************************carousel************************/
.buttonsPhotos{
   margin: 10px;
}

.myFacebookShareButton{
    color: white;
}
/************************gallery ************************/

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.hovereffect {
    width: 100%;
    height: 250px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    margin-bottom: 20px;
    
    background-size: cover;
    min-height: 250px;
}

.hovereffect .overlay {
    width: 100%;
    height: 250px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
}

.hovereffect img {
    display: center;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hovereffect:hover  {
    opacity: 0.1;
    filter: alpha(opacity=90);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.hovereffect h5 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.1em 0;
    background-color: transparent;
}

.hovereffect h5:after { /* move line from left*/
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}

.hovereffect:hover h5:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p { /* move Text from right*/
    font-size: 15px;
    text-decoration: none;
    padding: 3.5em 0;
    padding-bottom: 2px;
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {  /* color Text from right*/
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


/***********************************************videos classes implemented*****/

.thumbnailStyle{
    margin-left: 0px;
    margin-right: 0px;
}

.mainVideoContainer{
    margin-top: -20px;
}

.youtubeTitle{
    position: absolute; top: 90%; 
    padding-top: 25px;
    font-size: 13px;
}

.eachImageStyle{
    position: relative; top: 0; left: 0;
    padding-top: 55px;
}

.youTubeBtnStyle{
    position: absolute; top: 40%; left: 40%;
    width: 30%;
    height: 40%;
    opacity: 0.6;
}

/*********************************************************Paola adding*****/


body{
    background-image: url('../images/bg_purple.png');
    background-repeat: repeat;
    color:white;
    z-index: 0;
    font-family: 'Open Sans', sans-serif;
}

.section-heading{
      font-family: 'Acme', sans-serif;
/*    font-family: 'Sansita', sans-serif;*/
}

.sub-heading{
      font-family: 'Acme', sans-serif;
/*    font-family: 'Sansita', sans-serif;*/
}

h2{
    font-size: 34px;
    font-weight: 500;
    line-height: 60px;
    color: #fff;
}

h4{
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
    color: white;
    text-align: left;
}

h5{
    font-size: 14px;
    font-weight: 100;
    text-align: left;  
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: 'Acme', sans-serif;
    font-weight: 100;
}

.sidenav a:hover {
    text-decoration: none; 
    color: #9acd32;
}

.sidenav li{
    margin-left: 35px;
    list-style: none;
    text-align: left;
}

.media{
    padding-right: 0px;
    padding-top: 10px;
}

.media .icons-group a{
    color: white;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 1.4em;
}

.icons-group a:hover, #links a:hover{
    color: #9acd32;
    text-decoration: none;  
}

/*---------------------------header-index------*/

.logo_index{
    margin-top: 60px;
    width: 220px;
    height: auto;
}

.header-media{
    padding-right: 30px;
    padding-top: 30px;
}

.header-media .header-icons a{
    color: white;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 1.4em;
}

.header-media .header-icons a:hover{
    color: #9acd32;
    text-decoration: none;
}

.hd-media-index{
    padding-right: 30px;
    padding-top: 30px;
}

.hd-media-index .hd-icons-index a{
    color: white;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 1.4em;
}

.hd-media-index .hd-icons-index a:hover{
    color: #9acd32;
    text-decoration: none;
}

#intro{
    background-image: url('../images/bg_03.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 650px; /*laptop size*/
    position: relative;
}

#intro .section-intro{
    position: absolute;
    bottom: 0;
    padding: 0px 0px;     
    width: 100%;
    color: #fff;
    background: hsla(284, 96%, 6%, 0.6);
}

.bigIcons {
    width: 60px;
    height: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    opacity: 1; 
    filter: alpha(opacity=100);
}

.bigIcons:hover{
    opacity: 0.4; 
    filter: alpha(opacity=30);
}


/*-----------------------home page--*/

#links a{
    color: white;
}

#links ul li{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.upcomingShowsTable th{
    text-align: center;
}

.upcomingShowsTable td{
    text-align: center;
}

/*-----------pages--------*/
.logo_header{
    margin-top: 40px;
    width: 140px;
    height: auto;
}

#bg_hd_game{
    background-image: url("../images/game.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
}

#bg_hd_contact{
    background-image: url("../images/contact.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
}


#bg_hd_releases{
    background-image: url("../images/releases.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
}



.form-contact{
    background-color: hsla(186, 96%, 98%, 0.2);
    padding: 60px 60px 80px 60px;
    clear:both;
    margin-top: 20px;
    margin-bottom: 50px;
}

form{
    padding-bottom: 15px;
}

.btn-primary.btn-submit{
    background: none;
    background-color: hsla(243, 96%, 14%, 0.5);
    border: 1px solid #fff;
    color: #fff;
}

.btn-primary.btn-submit:hover{
   background-color: hsla(300, 96%, 18%, 0.3);
   border-color: #fff;
}

/*---------------------standard  color containers--*/

.section-purple{
    background-color: hsla(272, 100%, 14%, 0.2);
    color: white;
    padding-bottom: 60px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.section-blue{
    background-color: hsla(200, 96%, 26%, 0.3);
    color: white;
    padding-bottom: 60px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.section-dark-blue{
    background-color: hsla(243, 96%, 14%, 0.2);
    color: white;
    padding-bottom: 60px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.section-pink{
    background-color: hsla(300, 96%, 18%, 0.3);
    color: white;
    padding-bottom: 60px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.section-red{
    background-color: hsla(325, 96%, 12%, 0.2);
    color: white;
    padding-bottom: 60px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.section-white{
    background-color: hsla(186, 96%, 98%, 0.2);
    color: white;
    padding-bottom: 60px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

/*-----------------------animation about us-----*/

.about-wrapper {
    padding-top: 40px;
    position: relative;
    overflow: hidden;
    margin-bottom:10px;
}

.about-wrapper img {
    max-width:100% !important;
    clear:both;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.about-wrapper:hover img {
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

/*------------------------------releases page---*/


.releases-wrapper {
    padding-top: 16px;
    position: relative;
    overflow: hidden;
    margin-bottom:10px;
}

.releases-wrapper img {
    max-width:100% !important;
    clear:both;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding:5px;
    border: 1px solid white;
}

.releases-wrapper:hover img {
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}

.songs li{
    font-size: 12px;
    text-align: left;
}

.mins li{
    font-size: 12px;
    text-align: left;
    list-style-type:none;
}


/*----------------------------footer--*/
footer {
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 12px;
}

h5{
    font-weight: bold;
    font-size: 14px;
}

.footer-links{
    list-style-type:none;
    padding-left:0px;
    margin-left:2px;
}

.footer-links tbody td{
    line-height: 22px;
    padding-left: 20px;
}

.align-title, .ft-contact p, .ft-contact h5{
    padding-left: 20px;
}

.footer-links tbody td a, .phone-link{
    color:#fff;
    text-decoration: none;
}

.phone-link:hover, .footer-media a:hover, .footer-links tbody td a:hover{
    color: #9acd32;
    text-decoration: none;
}
.footer-icon, .links-icons{
    margin-right: 10px;
}

.copyright {
    min-height:40px;
    background-color: #000000;
    padding-top: 12px;
    padding-bottom: 15px;
}

.copyright p {
    color:grey;
    text-align: center;
    padding-top: 10px;
    margin-bottom:0px;
    font-size: 12px;
}

.footer-media a{
    color: white;
    text-align: left;
    margin: 15px;
    padding-left: 15px;
}

/********************************************************closing Paola*****/


/*----------------------------------Table news*/

#container_ft{
    padding-top:5px;
}


#menu-slider{
    position:fixed;
    z-index: 2;
    font-size: 28px;
    padding-top: 5px;
    color: white;
    background-color: hsla(284, 100%, 14%, 0.63);
    width: 56px;
    height: 56px;
    vertical-align:28px;
    text-align: center;
    border-radius: 28px;
    border: solid white 2px;
}

/*111111111////////////////////////////////////////////////////device-width 319px max//*/
@media only screen and (max-device-width : 319px)
{
    .section-blue, .section-dark-blue, .section-pink, .section-purple, 
    .section-red, .section-white{
        padding-bottom: 20px;
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    #bg_hd_game, #bg_hd_contact, #bg_hd_releases{
        min-height: 90px;
    }
    
    body{
        font-size: 12px;
    }
    
    h2{
        font-size: 20px;
        font-weight: 300;
        line-height: 50px;
    }

    h4{
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
    }

    h5{
        font-size: 12px;
        text-align: left;  
    }
    
    footer {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 11px;
    }
    
    
    #intro{
        background-image: url('../images/bg_03.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 350px;
    }
    
    .copyright p {
        font-size: 9px;
        padding-top: 3px;
    }

    .header-media{
        display: none;
    }
    
    .hd-media-index{
        padding-right: 4px;
        padding-top: 8px;
    }

    .hd-media-index .hd-icons-index a{
        color: white;
        margin-left: 4px;
        margin-right: 4px;
        font-size: 1.2em;
    }
    
    .media{
        padding-right: 0px;
        padding-top: 0px;
    }
    
    .media .icons-group a{
        padding-top: 0px;
        margin-left: 2px;
        font-size: 1.2em;
    }

    .logo_index{
        margin-top: 80px;
        width: 80px;
        height: auto;
    }
    
    .logo_header{
        margin-top: 15px;
        width: 50px;
        height: auto;
    }

    .upcomingShowsTable thead th{
        font-size: 12px;
    }

    .upcomingShowsTable tbody td{
        font-size: 11px;
    }
    
    .starWarsNews{
        background-image: url('../images/stars-bg.jpg');
        background-repeat: no-repeat;
        color:yellow;
        height: 200px;
    }

    .starwarsSglTitle{
        width: 75%;
        height: 75%;
        padding-left: 25%;
    }

    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0px; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 30px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
/*        background-color: rgba(28,25,25,0.9);*/
        background-image: url('../images/bg_sidenav.png');
    }

    .sidenav .closebtn {
        color: #9acd32;
        position: absolute;
        top: 0;
        right: 3px;
        font-size: 40px;
        margin-left: 50px;
    }
    
    #main {
        transition: margin-left .5s;
        padding: 20px;
        margin-left:0px ;
    }
    
    .form-contact{
        padding: 25px 10px 50px 10px;
    }
    
    form{
        padding-bottom: 4px;
    }

    .bigIcons {
      width: 35px;
    }
    
    
}
@media only screen and (max-width : 319px)
{
    .section-blue, .section-dark-blue, .section-pink, .section-purple, 
    .section-red, .section-white{
        padding-bottom: 20px;
        padding-top:10px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    #bg_hd_game, #bg_hd_contact, #bg_hd_releases{
        min-height: 90px;
    }
    
    body{
        font-size: 12px;
    }
    
    h2{
        font-size: 22px;
        font-weight: 300;
        line-height: 50px;
    }

    h4{
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
    }

    h5{
        font-size: 12px;
        text-align: left;  
    }
    
    footer {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 11px;
    }
    
    .copyright p{
        font-size: 9px;
        padding-top: 3px;
    }
    
    #intro{
        background-image: url('../images/bg_03.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 350px;
    }
    
    .header-media{
        display: none;
    }

    .hd-media-index{
        padding-right: 4px;
        padding-top: 8px;
    }

    .hd-media-index .hd-icons-index a{
        color: white;
        margin-left: 4px;
        margin-right: 4px;
        font-size: 1.2em;
    }
    
    .media{
        padding-right: 0px;
        padding-top: 0px;
    }
    
    .media .icons-group a{
        padding-top: 0px;
        margin-left: 2px;
        font-size: 1.2em;
    }

    .logo_index{
        margin-top: 80px;
        width: 80px;
        height: auto;
    }
    
     .logo_header{
        margin-top: 15px;
        width: 50px;
        height: auto;
    }

    .upcomingShowsTable thead th{
        font-size: 12px;
    }

    .upcomingShowsTable tbody td{
        font-size: 11px;
    }

    .starWarsNews{
        background-image: url('../images/stars-bg.jpg');
        background-repeat: no-repeat;
        color:yellow;
        height: 200px;
    }

    .starwarsSglTitle{
        width: 75%;
        height: 75%;
        padding-left: 25%;
    }

    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0px; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 30px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
/*        background-color: rgba(28,25,25,0.9);*/
        background-image: url('../images/bg_sidenav.png');
    }

    .sidenav .closebtn {
        color: #9acd32;
        position: absolute;
        top: 0;
        right: 3px;
        font-size: 40px;
        margin-left: 50px;
    }

    #main {
        transition: margin-left .5s;
        padding: 20px;
        margin-left:0px ;
    }
    
    .form-contact{
        padding: 25px 10px 50px 10px;
    }
    
    form{
        padding-bottom: 4px;
    }
    
    .bigIcons {
      width: 35px;
    }

}
@media only screen and (min-width : 320px) and (max-width : 480px)
{
    .section-blue, .section-dark-blue, .section-pink, .section-purple, 
    .section-red, .section-white{
        padding-bottom: 30px;
        padding-top: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    #bg_hd_game, #bg_hd_contact, #bg_hd_releases{
        min-height: 90px;
    }
    
    body{
        font-size: 12px;
    }
    
    h2{
        font-size: 22px;
        font-weight: 300;
        line-height: 50px;
    }

    h4{
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
    }

    h5{
        font-size: 12px;
        text-align: left;  
    }
    
    footer {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 11px;
    }
    
    .copyright p {
        font-size: 9px;
        padding-top: 3px;
    }
    
    #intro{
        background-image: url('../images/bg_03.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 400px;
    }

    .header-media{
        display: none;
    }
    
    .hd-media-index{
        padding-right: 4px;
        padding-top: 8px;
    }

    .hd-media-index .hd-icons-index a{
        color: white;
        margin-left: 4px;
        margin-right: 4px;
        font-size: 1.2em;
    }
    
    .media{
        padding-right: 0px;
        padding-top: 0px;
    }
    
    .media .icons-group a{
        padding-top: 0px;
        margin-left: 2px;
        font-size: 1.2em;
    }

    .logo_index{
        margin-top: 100px;
        width: 90px;
        height: auto;
    }
    
     .logo_header{
        margin-top: 20px;
        width: 50px;
        height: auto;
    }

    .upcomingShowsTable thead th{
        font-size: 12px;
    }

    .upcomingShowsTable tbody td{
        font-size: 11px;
    }

    .starWarsNews{
        background-image: url('../images/stars-bg.jpg');
        background-repeat: no-repeat;
        color:yellow;
        height: 200px;
    }

    .starwarsSglTitle{
        width: 75%;
        height: 75%;
        padding-left: 25%;
    }

    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0px; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 30px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
/*        background-color: rgba(28,25,25,0.9);*/
        background-image: url('../images/bg_sidenav.png');
    }

    .sidenav .closebtn {
        color: #9acd32;
        position: absolute;
        top: 0;
        right: 3px;
        font-size: 40px;
        margin-left: 50px;
    }

    #main {
        transition: margin-left .5s;
        padding: 20px;
        margin-left:0px ;
    }
    
    .form-contact{
        padding: 25px 10px 50px 10px;
    }
    
    form{
        padding-bottom: 4px;
    }
    
    .bigIcons {
      width: 35px;
    }

}

/*//////////////////////////////////////Smartphones (portrait and landscape)//*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
    .section-blue, .section-dark-blue, .section-pink, .section-purple, 
    .section-red, .section-white{
        padding-bottom: 30px;
        padding-top: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    #bg_hd_game, #bg_hd_contact, #bg_hd_releases{
        min-height: 90px;
    }
    
    body{
        font-size: 12px;
    }
    
    h2{
        font-size: 22px;
        font-weight: 300;
        line-height: 50px;
    }

    h4{
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
    }

    h5{
        font-size: 12px;
        text-align: left;  
    }
    
    footer {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 11px;
    }
    
    .copyright p{
        font-size: 9px;
        padding-top: 3px;
    }
    
    #intro{
        background-image: url('../images/bg_03.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 400px;
    }

    .header-media{
        display: none;
    }
    
    .hd-media-index{
        padding-right: 4px;
        padding-top: 8px;
    }

    .hd-media-index .hd-icons-index a{
        color: white;
        margin-left: 4px;
        margin-right: 4px;
        font-size: 1.2em;
    }
    
    .media{
        padding-right: 0px;
        padding-top: 0px;
    }
    
    .media .icons-group a{
        padding-top: 0px;
        margin-left: 2px;
        font-size: 1.2em;
    }

    .logo_index{
        margin-top: 100px;
        width: 90px;
        height: auto;
    }
    
     .logo_header{
        margin-top: 20px;
        width: 50px;
        height: auto;
    }

    .upcomingShowsTable thead th{
        font-size: 12px;
    }

    .upcomingShowsTable tbody td{
        font-size: 11px;
    }

    .starWarsNews{
        background-image: url('../images/stars-bg.jpg');
        background-repeat: no-repeat;
        color:yellow;
        height: 200px;
    }

    .starwarsSglTitle{
        width: 75%;
        height: 75%;
        padding-left: 25%;
    }

    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0px; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 30px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
/*        background-color: rgba(28,25,25,0.9);*/
        background-image: url('../images/bg_sidenav.png');
    }

    .sidenav .closebtn {
        color: #9acd32;
        position: absolute;
        top: 0;
        right: 3px;
        font-size: 40px;
        margin-left: 50px;
    }

    #main {
        transition: margin-left .5s;
        padding: 20px;
        margin-left:0px ;
    }
    
    .bigIcons {
        width: 35px;
    }

}

/*3333333////////////////////////////////////////////////////////////////////////////*/
@media only screen and (min-device-width : 481px)
and (max-device-width : 768px)
and (orientation : landscape)
{
    #bg_hd_game, #bg_hd_contact, #bg_hd_releases{
        min-height: 170px;
    }

    .logo_index{
        margin-top: 80px;
        width: 120px;
        height: auto;
    }
    
    .logo_header{
        margin-top: 60px;
        width: 80px;
        height: auto;
    }
    
    .header-media{
        padding-right: 30px;
        padding-top: 8px;
    }

    .header-media .header-icons a{
        margin-left: 8px;
        margin-right: 8px;
        font-size: 1.3em;
    }
    
    .hd-media-index{
        padding-right: 30px;
        padding-top: 12px;
    }

    .hd-media-index .hd-icons-index a{
        color: white;
        margin-left: 4px;
        margin-right: 4px;
        font-size: 1.3em;
    }
    
    .copyright p{
        font-size: 11px;
        padding-top: 3px;
    }
    
    #intro{
        background-image: url('../images/bg_03.png');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 500px; 
        position: relative;
    }
    
    .starWarsNews{
        background-image: url('../images/stars-bg.jpg');
        background-repeat: no-repeat;
        color:yellow;
        height: 200px;
    }

    .starwarsSglTitle{
        width: 75%;
        height: 75%;
        padding-left: 25%;
    }
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0px; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 30px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
/*        background-color: rgba(28,25,25,0.9);*/
        background-image: url('../images/bg_sidenav.png');
    }

    .sidenav .closebtn {
        color: #9acd32;
        position: absolute;
        top: 0;
        right: 3px;
        font-size: 40px;
        margin-left: 50px;
    }

    #main {
        transition: margin-left .5s;
        padding: 20px;
        margin-left:0px ;
    }
    
    .bigIcons {
        width: 50px;
    }
}

/*////////////////////////////////////////////////////////////////////////////*/
@media only screen and (min-width : 481px)
and (max-width : 768px)
{
    #bg_hd_game, #bg_hd_contact, #bg_hd_releases{
        min-height: 180px;
    }
    
    .logo_index{
        margin-top: 80px;
        width: 120px;
        height: auto;
    }
    
    .logo_header{
        margin-top: 60px;
        width: 80px;
        height: auto;
    }
    
    .header-media{
        padding-right: 30px;
        padding-top: 8px;
    }
    
    .hd-media-index{
        padding-right: 30px;
        padding-top: 12px;
    }

    .hd-media-index .hd-icons-index a{
        color: white;
        margin-left: 4px;
        margin-right: 4px;
        font-size: 1.3em;
    }
    
    .copyright p{
        font-size: 11px;
        padding-top: 3px;
    }
    
    #intro{
        background-image: url('../images/bg_03.png');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 500px; 
        position: relative;
    }

    .header-media .header-icons a{
        margin-left: 8px;
        margin-right: 8px;
        font-size: 1.3em;
    }
    
    .starWarsNews{
        background-image: url('../images/stars-bg.jpg');
        background-repeat: no-repeat;
        color:yellow;
        height: 200px;
    }

    .starwarsSglTitle{
        width: 75%;
        height: 75%;
        padding-left: 25%;
    }
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0px; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 30px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
/*        background-color: rgba(28,25,25,0.9);*/
        background-image: url('../images/bg_sidenav.png');
    }

    .sidenav .closebtn {
        color: #9acd32;
        position: absolute;
        top: 0;
        right: 3px;
        font-size: 40px;
        margin-left: 50px;
    }

    #main {
        transition: margin-left .5s;
        padding: 20px;
        margin-left:0px ;
    }
    
    .bigIcons {
        width: 50px;
    }
}



/*/////////////////////////////////////////////////////////iPads (landscape)//*/
@media only screen and (min-device-width : 769px)
and (max-device-width : 1024px)
and (orientation : landscape)
{
    #bg_hd_game, #bg_hd_contact, #bg_hd_releases{
        min-height: 190px;
    }
    
    .logo_index{
        margin-top: 40px;
        width: 120px;
        height: auto;
    }
    
    .logo_header{
        margin-top: 30px;
        width: 90px;
        height: auto;
    }
    
    .header-media{
        padding-right: 30px;
        padding-top: 8px;
    }

    .header-media .header-icons a{
        margin-left: 8px;
        margin-right: 8px;
        font-size: 1.3em;
    }
    
    .hd-media-index{
        padding-right: 30px;
        padding-top: 12px;
    }

    .hd-media-index .hd-icons-index a{
        color: white;
        margin-left: 4px;
        margin-right: 4px;
        font-size: 1.3em;
    }
    
    .copyright p{
        font-size: 11px;
        padding-top: 3px;
    }
    
    #intro{
        background-image: url('../images/bg_03.png');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 500px; 
        position: relative;
    }

    .starWarsNews{
        background-image: url('../images/stars-bg.jpg');
        background-repeat: no-repeat;
        color:yellow;
        height: 200px;
    }

    .starwarsSglTitle{
        width: 75%;
        height: 75%;
        padding-left: 25%;
    }

    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0px; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 30px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
/*        background-color: rgba(28,25,25,0.9);*/
        background-image: url('../images/bg_sidenav.png');
    }

    .sidenav .closebtn {
        color: #9acd32;
        position: absolute;
        top: 0;
        right: 3px;
        font-size: 40px;
        margin-left: 50px;
    }
    
    #main {
        transition: margin-left .5s;
        padding-right: 20px;
        margin-left:150px;
        margin-right:-30px;
    }
    
    .bigIcons {
        width: 50px;
    }
}

/*/////////////////////////////////////////////////////////iPads (landscape)//*/
@media only screen and (min-width : 769px)
and (max-width : 1024px)
{
    #bg_hd_game, #bg_hd_contact, #bg_hd_releases{
        min-height: 190px;
    }
    
    .logo_index{
        margin-top: 40px;
        width: 120px;
        height: auto;
    }
    
    .logo_header{
        margin-top: 30px;
        width: 130px;
        height: auto;
    }
    
    .header-media{
        padding-right: 30px;
        padding-top: 8px;
    }

    .header-media .header-icons a{
        margin-left: 8px;
        margin-right: 8px;
        font-size: 1.3em;
    }
    
    .hd-media-index{
        padding-right: 30px;
        padding-top: 12px;
    }

    .hd-media-index .hd-icons-index a{
        color: white;
        margin-left: 4px;
        margin-right: 4px;
        font-size: 1.3em;
    }
    
    .copyright p{
        font-size: 11px;
        padding-top: 3px;
    }
    
    #intro{
        background-image: url('../images/bg_03.png');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 500px; 
        position: relative;
    }
    
    iframe
    {
        width: 100%;
        height: 50%;
    }

    .starWarsNews{
        background-image: url('../images/stars-bg.jpg');
        background-repeat: no-repeat;
        color:yellow;
        height: 200px;
    }

    .starwarsSglTitle{
        width: 75%;
        height: 75%;
        padding-left: 25%;
    }

    #menu-slider{
        display: none;
    }

    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0px; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 30px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    .sidenav .closebtn {
        color: #9acd32;
        position: absolute;
        top: 0;
        right: 3px;
        font-size: 40px;
        margin-left: 50px;
        display: none;
    }
    #main {
        transition: margin-left .5s;
        padding-right: 20px;
        margin-left:150px;
        margin-right:-30px;
    }
    
    .bigIcons {
        width: 50px;
    }
}

/*//////////////////////////////////////////////////////Desktops and laptops//*/
@media only screen and (min-width : 1025px)
and (max-width : 1823px)
{
    .logo_index{
        margin-top: 50px;
        width: 180px;
        height: auto;
    }
    
    .logo_header{
        margin-top: 30px;
        width: 125px;
        height: auto;
    }
    
    .copyright {
        padding-top: 2px;
        padding-bottom: 5px;
    }
    
    #intro{
        background-image: url('../images/bg_03.png');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 630px; 
        position: relative;
    }

    .linksStarWars a{
        color: yellow;
        padding-top: 2em;
    }

    .linksStarWars a:hover
    {
        color: brown;
        padding-top: 2em;
    }

    .starWarsNews{
        background-image: url('../images/stars-bg.jpg');
        background-repeat: no-repeat;
        color:yellow;
        height: 200px;
    }

    .starwarsSglTitle {
        width: 75%;
        height: 75%;
        padding-left: 25%;
    }

    #menu-slider{
        display: none;
    }

    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 150px; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 30px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    .sidenav .closebtn {
        color: #9acd32;
        position: absolute;
        top: 0;
        right: 3px;
        font-size: 40px;
        margin-left: 50px;
        display: none;
    }

    #main {
        transition: margin-left .5s;
        margin-left:150px ;
    }

    .fullscreen-video
    {
        width: 800px;
        height: 200px;
    }
    
    .bigIcons {
        width: 50px;
    }
}

/*/////////////////////////////////////////////////////////////Large screens//*/
@media only screen and (min-width : 1824px)
{
    .section-blue, .section-dark-blue, .section-pink, .section-purple, 
    .section-red, .section-white{
        padding-bottom: 80px;
        padding-top: 50px;
        padding-left: 180px;
        padding-right: 180px;
    }
    
    body{
        font-size: 15px;
    }
    
    h2{
        line-height: 70px;
    }

    h4{
        line-height: 45px;
    }
    .copyright {
        padding-top: 2px;
        padding-bottom: 5px;
    }

    .copyright p{
        font-size: 13px;
    }
    
    #intro{
        background-image: url('../images/bg_03.png');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 920px; 
        position: relative;
    }
    
    .hd-media-index{
        padding-right: 180px;
        padding-top: 60px;
    }

    .hd-media-index .hd-icons-index a{
        margin-left: 4px;
        margin-right: 4px;
        font-size: 1.4em;
    }
    
    .media{
        padding-right: 0px;
        padding-top: 0px;
    }

    .media .icons-group a{
        margin-left: 8px;
        margin-right: 8px;
        font-size: 1.4em;
    }

    .logo_index{
        margin-top: 70px;
        width: 260px;
        height: auto;
    }
    
    .starWarsNews{
        background-image: url('../images/stars-bg.jpg');
        background-repeat: no-repeat;
        color:yellow;
        height: 200px;
    }

    .starwarsSglTitle{
        width: 75%;
        height: 75%;
        padding-left: 25%;
    }

    #menu-slider {
        display: none;
    }
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 150px; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 30px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    .sidenav .closebtn {
        color: #9acd32;
        position: absolute;
        top: 0;
        right: 3px;
        font-size: 40px;
        margin-left: 50px;
    }

    #main {
        transition: margin-left .5s;
        padding: 20px;
        margin-left: 250px;
    }
    
    .bigIcons {
      width: 50px;
    }
}

/*/////////////////////////////////////////////////////////////iPhone 4///////*/
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5)
{
    /* Styles */
}

@font-face {
    font-family: 'starWarsFont'; /*a name to be used later*/
    src: url('../fonts/Star_Jedi_Rounded.ttf'); /*URL to font*/
}

.star {
    animation: star 10s ease-out infinite;
}

.wars {
    animation: wars 10s ease-out infinite;
}

.byline span {
    animation: spin-letters 10s linear infinite;
}

.byline {
    animation: move-byline 10s linear infinite;
}

/* Keyframes */
@keyframes star {
    0% {
        opacity: 0;
        transform: scale(0.8) translateY(-0.75em);
    }
    20% {
        opacity: 1;
    }
    89% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: translateZ(-1000em);
    }
}

@keyframes wars {
    0% {
        opacity: 0;
        transform: scale(0.8) translateY(0.5em);
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
        transform: scale(0.8);
    }
    100% {
        opacity: 0;
        transform: translateZ(-1000em);
    }
}

@keyframes spin-letters {
    0%, 10% {
        opacity: 0;
        transform: rotateY(90deg);
    }
    30% {
        opacity: 1;
    }
    70%, 86% {
        transform: rotateY(0deg);
        opacity: 1;
    }
    95%, 100% {
        opacity: 0;
    }
}

@keyframes move-byline {
    0% {
        transform: translateZ(5em);
    }
    100% {
        transform: translateZ(0);
    }
}

/* Make the 3D work on the container */
.starwars-demo {
    perspective: 300px;
    -webkit-transform-style: preserve-3d; /* Chrome, Safari, Opera */
    transform-style: preserve-3d;
}

/* General styles and layout */
.starWarsBody {
    /* background: #000 url(../images/bg.jpg);*/

}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}


.starwars-demo {
    height: 21em;
    transform: translate(30%,0%);
    width: 34em;
}

.byline span {
    display: inline-block;
}

img {
    width: 100%;
}

.star, .wars, .byline {
    position: absolute;
}

.star {
    top: -0.75em;
}

.wars {
    bottom: -0.5em;
}

.byline {
    color: #fff;
    font-family: "ITC Serif Gothic", Lato;
    font-size: 2.25em;
    left: -2em;
    letter-spacing: 0.4em;
    right: -2em;
    text-align: center;
    text-transform: uppercase;
    top: 29%;
}